:root {
  --mainColor: #0d0c12;
  --headerColor: #0f1c2a;
  --secondaryMainColor: #cca876;
  --textColor: #fff;
  --secondaryTextColor: #dddade;
  --mainHoverColor: #203040;
  --fontFamily: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: var(--fontFamily);
  background-color: var(--mainColor);
  color: var(--textColor);
  overflow-x: hidden;
}

.loaderMain {
  background-color: #212121;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #e8e8e8;
  border: 4px solid #e8e8e8;
  box-shadow: 0 0 3px #e8e8e8;
  filter: blur(.4px);
}

.shadow {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #212121;
  top: -5px;
  left: 0;
  animation: animate 3s infinite 1.5s;
}

@keyframes animate {
  0% {
    transform: translateX(150px);
    background-color: #212121;
  }

  50% {
    transform: translateX(-10px);
    background-color: #212121;
  }

  100% {
    transform: translateX(-170px);
    background-color: #212121;
  }
}



.nav {
  background-color: var(--headerColor);
  color: var(--textColor);
}

.logo {
  margin-left: 4%;
}

.fa {
  color: var(--secondaryMainColor);
}

nav {
  z-index: 10;
  display: flex;
  align-items: center;
  height: 80px;
}

ul {
  gap: 26px;
}

.nav-link {
  text-decoration: none;
  color: var(--secondaryTextColor);
  font-weight: bold;
  transition: all .1s ease 0ms;

}

.nav-item::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--secondaryMainColor);
  display: block;
  color: var(--secondaryMainColor);
  transition: 0.5s;
}

.nav-item:hover::after {
  width: 100%;
  color: var(--secondaryMainColor);
}

.nav-link:hover {
  color: var(--secondaryMainColor);
}


.themeBtn {
  padding: 10px 60px;
  background-color: var(--secondaryMainColor);
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--textColor);
  border-radius: 4px;
  transition: 0.9s all ease 1ms;
}

.themeBtn:hover {
  box-shadow: 0px 15px 20px -10px #cca876a6;
}

footer {
  background-color: var(--headerColor);
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  margin-bottom: -16px;
}

footer h2,
a {
  color: var(--textColor);
  text-decoration: underline var(--secondaryMainColor);
  text-decoration-style: dotted;
}

footer a i {
  padding: 14px;
  border-radius: 100%;
  background-color: var(--secondaryMainColor);
  color: var(--textColor);
}

footer p {
  color: var(--secondaryTextColor);
}

.footerImg {
  height: 200px;
}

.footerLink a {
  color: var(--secondaryMainColor);
}

.navBtn {
  background-color: var(--secondaryMainColor);
  color: var(--secondaryTextColor);
}

.spacing {
  margin: 8rem 0;
}

.contactSection {
  margin-top: 4rem;
  display: flex;
  gap: 16px;
}

.imgSection {
  max-width: 550px;
}

.contactImage {
  width: 100%;
  border-radius: 16px;
}

.AboutSection {
  margin-top: 4rem;
  display: flex;
  gap: 16px;
}

.accordion-button {
  background-color: var(--headerColor);
  border: 2px dotted var(--secondaryMainColor);
  color: var(--secondaryTextColor);
  font-weight: bold;
  border-radius: 24px;
}

.accordion-body {
  background-color: var(--headerColor);
  border: none;
  color: var(--secondaryTextColor);
}

.accordion-button:active {
  background-color: var(--secondaryMainColor);
}

.accordion-button:focus {
  background-color: var(--secondaryMainColor);
  color: var(--secondaryTextColor);
  border: none;
}

.accordion-item:focus {
  background-color: var(--secondaryMainColor);
}

.accordion,
.accordion-item {
  background-color: transparent;
  border: none;
}

.accordion-body {
  margin-top: 16px;
  border-radius: 24px;
}

.accordion {
  max-width: 700px;
}


.popup {

  display: flex;
}

.inputText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bgSection {
  position: fixed;
  z-index: 1000;
  background-color: rgba(104, 128, 153, 0.3);
  height: 100vh;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translateY(-110%); */
  transition: 0.9s all ease 1ms;
}

.mainLoginSection {
  background-color: #0f1c2a;
  border-radius: 24px;
  height: 600px;
  padding: 24px;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 16px;
}

.loginImg {
  width: 100%;
}

.loginImg img {
  width: 100%;
  height: 560px;
  border-radius: 24px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ForgotPassword {
  display: flex;
  justify-content: right;
  color: var(--secondaryMainColor);
  font-weight: bold;
}

.otherText {
  margin-top: 8px;
  text-align: center;
}

.otherText h5,
span {
  color: var(--secondaryMainColor);
}

.closeBtn {
  border-radius: 100%;
  padding: 8px 16px;
  font-size: 24px;
  position: relative;
  margin-left: 100%;
  margin-top: -54px;
  /* transition: all 300ms ease 1s; */
}

.carousel-caption h1 {
  color: var(--textColor);
  font-size: 60px;
}

.carousel-caption p {
  color: var(--textColor);
  font-size: 18px;
}

.carousel-caption {
  text-align: left;
  max-width: 800px;
  position: absolute;
  top: 30%;
}

.carouselBtn {
  position: absolute;
  font-size: 22px;
  padding: 40px 0;
  background-color: var(--secondaryMainColor);
  width: 20px;
}

.btnLeft {
  left: 0;
  border-radius: 0 24px 24px 0;
}

.btnRight {
  border-radius: 24px 0 0 24px;
  right: 0;
}

.carouselImg {
  max-height: 1000px;
}

@media screen and (max-width: 960px) {
  footer {
    background-color: var(--headerColor);
    clip-path: none
  }

  .footerImg {
    height: 300px;
  }

  .contactSection {
    display: block;
  }

  .AboutSection {
    display: block;
  }

  nav {
    height: 100px;
  }

  .logo {
    margin-left: 0%;
  }

}

@media screen and (max-width: 768px) {
  nav {
    height: 100px;
  }

  .logo {
    margin-left: 0%;
  }

  footer {
    background-color: var(--headerColor);
    clip-path: none
  }

  .AboutSection {
    display: block;
  }

  .footerImg {
    height: 200px;
  }

  .loginImg {
    display: none;

  }

  .mainLoginSection {
    margin: 24px;
  }


  .carousel-caption h1 {
    font-size: 30px;
  }

  .carouselImg {
    height: 600px;
  }

}