:root {
    --mainColor: #0d0c12;
    --headerColor: #0f1c2a;
    --secondaryMainColor: #cca876;
    --textColor: #fff;
    --secondaryTextColor: #dddade;
    --mainHoverColor: #203040;
    --fontFamily: 'Montserrat', sans-serif;
}

h4 {
    color: var(--secondaryMainColor);
}

h1 {
    font-family: var(--fontFamily);
    font-weight: bold;
}



/* Home Service Section */
.service {
    background-color: var(--headerColor);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    padding: 2rem;
    gap: 26px;
}

.serviceSel {
    color: var(--secondaryTextColor);
    width: 100%;
}

.serviceSel select {
    padding: 20px;
    width: 100%;
}

.serviceInp {
    padding: 18px;
    border-radius: 6px;
    width: 100%;
}

.serviceBtn {
    width: 100%;
    padding: 19px;
}

.icons {
    position: absolute;
    left: 1rem;
    width: 1rem;
    height: 1rem;
}

.input-field {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.input-field input {
    padding-left: 2.5rem;
}

input,
textarea,
select {
    background-color: transparent;
    border: 1px solid var(--secondaryMainColor);
    border-radius: 6px;
    padding: 16px;
    caret-color: var(--secondaryMainColor);
    color: var(--secondaryTextColor);
}

option {
    background-color: var(--mainColor);
    border-radius: 16px;
}

.formSection {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}



/* Service Section  */




.ServiceSection {
    position: relative;
    margin: -30px 14% 0 14%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.SecondServiceSection {
    position: relative;
    margin: 12rem 14% 0 14%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12rem;
}



.box {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
}

.ServiceBox {
    background-color: var(--headerColor);
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 3rem;
    padding: 15px 30px 30px 30px;
    border-radius: 16px;
    transition: ease-out 0.5s;
}

.ServiceBox:hover {
    border: 1px solid var(--secondaryMainColor);
    box-shadow: inset 0 -220px 0 0 var(--mainHoverColor);
    transform: translateY(-5%);
}

.serviceBox {
    border: 1px solid var(--secondaryMainColor);
    background-color: var(--headerColor);
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-top: 3rem; */
    padding: 15px 30px 30px 30px;
    border-radius: 16px;
    transition: ease-out 0.5s;

}

.serviceBox:hover {
    box-shadow: inset 0 -220px 0 0 var(--mainHoverColor);
    transform: translateY(-5%);
}

.serviceBox,
.ServiceBox,
.reviewBox i {
    font-size: 45px;
}

.serviceicons {
    color: var(--secondaryMainColor);
}

.bi {
    color: var(--secondaryMainColor);
    margin: 2px;
}




/* Tesimonal Section */




.testimonal {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    cursor: grab;
    gap: 2rem;
    margin: 0 16px;
}

.testimonalCard {
    background-color: var(--headerColor);
    flex: 0 0 auto;
    max-width: 800px;
    scroll-snap-align: center;
    border-radius: 24px;
    user-select: none;
}

.testimonalCard img {
    padding: 16px;
    border-radius: 34px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.cardImage {
    width: 100%;
}

.cardMainContent {
    display: flex;
}

.cardUserContent {
    text-align: end;
    padding: 16px;
}

.testimonalCard-content {
    padding: 2rem;
    width: 100%;
}

.testimonalStar {
    color: var(--secondaryMainColor);
    margin-bottom: 16px;
}

/* Review Section  */



.review {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
}

.reviewBox {
    border: 2px dotted var(--secondaryMainColor);
    background-color: var(--headerColor);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 30px 30px 30px;
    border-radius: 16px;
}



/*  Home Photo Grid */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-item {
    width: 400px;

}

.photo-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-item img {
    border-radius: 16px;

}




/* Blog Card */



.BlogCard {
    background-color: var(--headerColor);
    color: var(--secondaryTextColor);
    width: 446px;
    padding: 16px;
    border-radius: 16px;
}

.blogBtn {
    background-color: var(--secondaryMainColor);
    color: var(--secondaryTextColor);
    width: 100%;
}

.blogImg {
    height: 300px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 16px;
}


.cardBlog {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

}




/* HOME CARD STYLE */

.HomeCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
}

.themeCard {
    background-color: var(--headerColor);
    border-radius: 26px;
    padding: 18px;
    width: 100%;
    display: flex;
    gap: 16px;
}

.cardImageDiv {
    width: 100%;
}

.cardImage {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.card-title:hover {
    color: var(--secondaryMainColor);
}

.cardText {
    margin-top: 16px;
    width: 100%;
}

.cardBtn {
    padding: 8px 16px;
    font-size: 16px;
}



@media screen and (max-width: 904px) {

    .review {
        grid-template-columns: repeat(2, auto);
    }

    .client {
        display: block;
        gap: 16px;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    /* HOME CARD STYLE */

    .HomeCard {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 16px;
    }

    .themeCard {
        display: flex;
    }

    .cardText {
        margin-top: 16px;

    }



    .testimonalCard img {
        padding: 16px;
        border-radius: 34px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .testimonal {
        gap: 1rem;
    }

    .testimonalCard {
        max-width: 600px;
    }

    .cardUserContent {
        text-align: end;
        padding: 16px;
    }

    .testimonalCard-content {
        padding: 1.5rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .service {
        flex-direction: column;
    }

    .HomeCard {
        grid-template-columns: repeat(1, auto);
    }

    .client {
        display: block;
        gap: 16px;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 16px;
    }

    /* HOME CARD STYLE */

    .themeCard {
        display: block;
        width: 100%;
    }

    .cardImage {
        width: 100%;
        height: auto;
        border-radius: 26px;
    }

    .ServiceSection {
        position: relative;
        margin: -30px 3% 0 3%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        /* gap: 12rem; */
    }

    .review {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 16px;
    }

    .formSection {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .cardMainContent {
        display: block;
    }

    .testimonal {
        gap: 1rem;
    }

    .testimonalCard {
        max-width: 450px;
        /* max-height: 750px; */
    }

    .cardUserContent {
        text-align: end;
        /* padding: 16px; */
    }

    .testimonalCard img {
        padding: 16px;
        border-radius: 34px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .testimonalCard-content {
        padding: 0.1rem 1.5rem;
        width: 100%;
    }

}

@media screen and (max-width: 1300px) {
    .HomeCard {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 16px;
    }
}